@model CrewDetailsServiceModel

@{
    ViewData["Title"] = "Crew Detail";
}

<div class="containter bg-white bg-opacity-50" style="border-radius: 0.5em; font-size: 1.2em; text-shadow: 0px 0px 0px grey;">
    <div class="container d-flex flex-row gap-3 p-2">
        <div class=" p-1 w-25">
            @if (@Model.Pseudonyms == "")
            {
                <p class="fw-bolder text-center w-100">@Model.Name</p>
            }
            else
            {
                <p class="fw-bolder text-center w-100">@Model.Name - @Model.Pseudonyms</p>
            }
            <img class="w-100" src="@Model.PictureUrl">
            <div class="container d-flex flex-column p-1 w-100">
                <p>@string.Join(", ", Model.Roles.Select(r => r.Name))</p>
                <p>Nationality: @Model.Nationality</p>
                <p>Birthdate: @Model.Birthdate</p>
            </div>
        </div>
        <div class="container p-1 w-75">
            <h1 class="p-1 text-center">Summary</h1>
            <p class="pt-5">@Model.Biography</p>
            <a href="@Model.MoreInfo" class="text-decoration-none text-black fw-bold">For more information you can visit this link:</a>
        </div>
    </div>
    <hr />
    <h2 class="ps-3">Related shows:</h2>
    <div class="container p-3 m-3">
        @if (Model.Series.Any())
        {
            <h2 class="text-center p-1">Series</h2>
            <div class="container p-2 d-flex gap-1 flex-wrap">
                @foreach (var series in Model.Series)
                {
                    <div class="d-flex flex-column gap-1 p-3 w-25">
                        <div>
                            <img class="w-100 h-100" style="border-radius: 0.5em" src="@series.PosterUrl" />
                        </div>
                        <div class="d-flex flex-column p-2 align-items-center">
                            <a asp-action="SerieDetails" asp-controller="Serie" asp-route-serieId="@series.SerieId" class="text-black text-decoration-none fw-bold">@series.Title</a>
                            <p class="mb-0">@series.StartYear - @series.EndYear</p>
                        </div>
                    </div>
                }
            </div>
        }
        @if (Model.Movies.Any())
        {
            <h2 class="text-center p-1">Movies</h2>
            <div class="container p-2 d-flex gap-1 flex-wrap">
                @foreach (var movies in Model.Movies)
                {
                    <div class="d-flex flex-column gap-1 p-3 w-25">
                        <img class="w-100 h-100" style="border-radius: 0.5em;" src="@movies.PosterUrl" />
                        <div class="d-flex flex-column p-2 align-items-center">
                            <a asp-action="MovieDetails" asp-controller="Movie" asp-route-movieId="@movies.MovieId" class="text-black text-decoration-none fw-bold">@movies.Title</a>
                            <p class="mb-0">@movies.YearOfRelease</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
