@model IEnumerable<MoviesCardInfoServiceModel>

@{
    ViewData["Title"] = "Movies library";
}

<div>
    <a class="btn btn-secondary" asp-controller="Serie" asp-action="Index">To Serie</a>
</div>

<div class="containter bg-white bg-opacity-50 p-3 mt-3 mb-3" style="border-radius: 0.5em;">
    <div class="d-flex flex-wrap w-100 gap-2">
        @foreach (var m in Model)
        {
            <div class="card bg-transparent border-0 p-1" style="width: 300px; height: 460px">
                <img class="w-100 h-100" src="@m.PosterUrl" style="border-radius: 0.5rem;">
                <div class="card-body p-0 m-0 position-absolute bottom-0 start-50 translate-middle-x">
                    <div class="card-title text-center">
                        <a asp-controller="Movie" asp-action="MovieDetails" asp-route-movieId="@m.MovieId"
                           class="card-title text-white text-decoration-none bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">
                            @m.Title
                        </a>
                    </div>
                    <div class="card-text text-white d-flex justify-content-between mb-2">
                        <span class="bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">@m.YearOfRelease</span>
                        <span class="bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">@(m.Rating == null ? "0.00" : m.Rating)</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>