@model EpisodeFormModel

@{
    ViewData["Title"] = "Episode form";
}

<div class="row">
    <div class=" container bg-black bg-opacity-50" style="border-radius: 1em">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form asp-action="Add" method="post">
                <div class="mb-3">
                    <label class="text-white" asp-for="@Model.PosterUrl" class="form-label-add-edit">Episode Poster Url</label>
                    <input asp-for="@Model.PosterUrl" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.PosterUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-white" asp-for="@Model.EpisodeNumeration" class="form-label-add-edit">Episode number</label>
                    <input asp-for="@Model.EpisodeNumeration" class="form-control" aria-required="true">
                    <span asp-validation-for="@Model.EpisodeNumeration" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-white" asp-for="@Model.Summary" class="form-label-add-edit">Episode Summary</label>
                    <textarea asp-for="@Model.Summary" class="form-control" aria-required="true"></textarea>
                    <span asp-validation-for="@Model.Summary" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-white" asp-for="@Model.ReleaseDate" class="form-label-add-edit">Date of release</label>
                    <input asp-for="@Model.ReleaseDate" class="form-control" aria-required="true" placeholder="dd mmm(Jul) YYYY" />
                    <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add Episode" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

