@model IEnumerable<EpisodeDetailsServiceModel>

@{
    ViewData["Title"] = "Episode Page";
}

<h1 class="text-center text-white p-4" style="font-size: 4em; text-shadow: 1px 1px 2px black;">
   Season: @Model.Select(s => s.EpisodeNumeration).First()
</h1>

<div class="containter bg-white bg-opacity-50 p-4" style="border-radius: 0.5em;">
    @foreach (var m in Model)
    {
        <div class="container d-flex bg-black bg-opacity-50 p-3" style="border-radius: 2em;">
            <div class="container">
                <img class="h-100 w-100" style="border-radius: 2em;" src="@m.PosterUrl" />
            </div>
            <div class="container d-flex flex-column justify-content-center">
                <p class="text-white" style="font-size: 2em;">Episode: @m.EpisodeNumeration</p>
                <p class="text-white" style="font-size: 2em;">Release year: @m.ReleaseDate</p>
                <p class="text-white" style="font-size: 2em;">@m.Summary</p>
            </div>
        </div>

        <p></p>
    }
</div>
