@model IEnumerable<SeriesCardInfoServiceModel>

@{
    ViewData["Title"] = "Serie library";
}

<div>
    <a class="btn btn-outline-dark" asp-controller="Movie" asp-action="Index" role="button">To Movies</a>
</div>

<div class="containter bg-white bg-opacity-50 p-3 mt-3 mb-3" style="border-radius: 0.5em;">
    <div class="d-flex w-50 gap-2">
        @foreach (var m in Model)
        {
            <div class="card bg-transparent border-0 p-1" style="width: 18em;">
                <img src="@m.PosterUrl" style="border-radius: 0.5rem;">
                <div class="card-body p-0 m-0 position-absolute bottom-0 start-50 translate-middle-x">
                    <div class="card-title text-center">
                        <a asp-controller="Serie" asp-action="SerieDetails" asp-route-serieId="@m.SerieId"
                           class="card-title text-white text-decoration-none bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">
                            @m.Title
                        </a>
                    </div>
                    <div class="card-text text-white d-flex justify-content-between mb-2">
                        <span class="bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">@(m.EndYear == string.Empty ? m.StartYear : m.StartYear + " - " + m.EndYear)</span>
                        <span class="bg-black bg-opacity-75 p-1" style="border-radius: 0.5em;">@(m.Rating == null ? "0.00" : m.Rating)</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>