@model List<RepliesInfoServiceModel>

@foreach (var reply in Model)
{
    <div class="p-4" style="border-radius: 0.5em;">
        <div class="d-flex flex-column gap-2 p-1">
            <div class="fw-bold">
                <p>@reply.Username</p>
            </div>
            <div class="d-flex text-black p-3 m-1" style="border: 1px solid  grey;  border-radius: 0.5em;">
                <p>@reply.ReplyBody</p>
            </div>
            <div class="d-flex justify-content-between p-1">
                <div>
                    @if (User.GetId() == reply.Username)
                    {
                        <a asp-area="default" asp-action="EditPost" asp-controller="Forum" asp-route-postId="@reply.ReplyId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Edit</a>
                        <a asp-area="default" asp-action="DeletePost" asp-controller="Forum" asp-route-postId="@reply.ReplyId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Delete</a>
                        <a asp-area="default" asp-action="AddReply" asp-controller="Forum" asp-route-postId="@reply.ReplyId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Add reply</a>
                    }
                </div>
                <div class="pt-3">
                    <span>Posted on: @reply.CreatedOn</span>
                </div>
            </div>
        </div>
    </div>

    <hr />
}
